<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Batoroza</title>
  <!-- debugバージョンだけどまあいいや -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="batoroza.js"></script>
</head>

<body>
  <div id="vm">
    <div>{{ hand }}</div>

    <div>
      <button v-show="drawButtonActive" v-on:click="drawPhase(true);">
        draw
      </button>
      <button v-show="notDrawButtonActive" v-on:click="drawPhase(false);">
        not draw
      </button>
    </div>

    <button v-show="validPlaysActive" v-for="play in validPlays"
            v-on:click="discardPhase(play);">
      {{ play.toString() }}
    </button>

    <ul>
      <li v-for="line in log">
        {{ line }}
      </li>
    </ul>
  </div>
</body>
